{% load core_settings_data %}
        <div class="col-md-3 left_col ">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><span>{{vars.name}}</span></a>
            </div>

            <div class="clearfix"></div>
           
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">

                <li>
                    <a href="/"><i class="fa fa-home"></i> Dashoard <span class="fa"></span></a>
                </li>
                <!-- <li>
                    <a href="/tickets/create"><i class="fa fa-support"></i> New ticket <span class="fa "></span></a>
                </li> -->
                <!--<li>
                    <a href="/tickets/create-new"><i class="fa fa-support"></i>New ticket<span class="label label-success pull-right">NEW UI</span><span class="fa "></span></a>
                </li>-->
                <li>
                    <a href="/tickets/create-new-dev"><i class="fa fa-plus"></i>Add ticket</a>
                </li>
                <li>
                    <a href="/tickets"><i class="fa fa-reorder"></i> Tickets <span class="fa"></span></a>
                </li>

                <li>
                    <a><i class="fa fa-bar-chart-o fa-fw"></i>States<span class="fa arrow"></span></a>
                            <ul class="nav child_menu">
                                {% all_states as states %}
                                {% for i in states %}
                                <li>
                                    <a href="/tickets/state/{{i.id}}">{{i}} tickets</a>
                                </li>
                                {%endfor%}
                            </ul>
                </li>
                <li>
                    <a href="/tickets/inventory"><i class="fa fa-desktop"></i>Inventory</a>
                </li>
                <li>
                        <a href="/settings"><i class="fa fa-gear fa-fw"></i>Settings</a>
                </li>
                </ul>
              </div>
            </div>


                        <!-- /menu footer buttons -->
    </div>
</div>