{% load core_settings_data %}

<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/tickets/create"><i class="fa fa-edit fa-fw"></i>New ticket</a>
                        </li>
                        <li>
                            <a href="/tickets"><i class="fa fa-th-list fa-fw"></i>Tickets</a>
                        </li>
                        <li>

                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Reports<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                {% all_states as states %}
                                {% for i in states %}
                                <li>
                                    <a href="/tickets/state/{{i.id}}">{{i}} tickets</a>
                                </li>
                                {%endfor%}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->