{% load staticfiles %}

        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">

                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {% if request.user.avatar%}
                      <img src="{{ request.user.avatar.url }}" alt="...">
                    {%else%}
                      <img src="{% static 'images/user.png' %}" alt="">
                    {%endif%}
                    {{ request.user }}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="/settings/user/{{request.user.id}}"> Profile</a></li>
                    <li>
                      <a href="/settings/">
                        <span>Settings</span>
                      </a>
                    </li>
                    <!--<li><a href="javascript:;">Help</a></li>-->
                    <li><a href="/logoff"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
                <li class="">
                  <!--<button class="btn btn-info btn-sm" type="button" style="margin-top: 10px; margin-right: 40px; position: relative;" onclick="location.href='/tickets/create-new-dev'">
                      Ticket <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>
                  </button>-->
                </li>
              </ul>
            </nav>
          </div>
        </div>