appdirs==1.4.0
cffi==0.8.6
chardet==2.3.0
colorama==0.3.2
contextlib2==0.5.4
cryptography==1.7.2
decorator==3.4.0
defusedxml==0.4.1
Django==1.10.5
django-colorfield==0.1.10
django-extensions==1.7.3
docutils==0.12
enum34==1.1.6
feedparser==5.2.1
html5lib==0.999
idna==2.2
ipaddress==1.0.18
ndg-httpsclient==0.3.2
packaging==16.8
pep8==1.7.0
pexpect==3.2
Pillow==2.6.1
ply==3.4
psycopg2==2.5.4
pyasn1==0.1.7
pycparser==2.10
Pygments==2.0.1
pyOpenSSL==0.15.1
pyparsing==2.1.10
pytz==2016.7
raven==6.0.0
requests==2.6.0
roman==2.0.0
simplegeneric==0.8.1
six==1.10.0
SOAPpy==0.12.22
urllib3==1.9.1
virtualenv==15.1.0
Werkzeug==0.11.10
wstools==0.4.5
