<!DOCTYPE html>
<html lang="en">

<head>

    {% load core_settings_data %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{%site_vars as vars %}{{vars.name}}{{vars.version}}</title>

    {% load staticfiles %}

    <link href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    
    <!--Custom --> 
    <link href="{% static "build/css/custom.css" %}" rel="stylesheet" type="text/css">
    

</head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center text-center">
              <h1 class="error-number">404</h1>
              <h2>Sorry but we couldn't find this page</h2>
              <p>This page you are looking for does not exist
              </p>
              <div class="mid_center">
              </div>

            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>


      </div>
    </div>
  </body>
</html>
