{% extends "dashboard/index.html" %}

{%block content %}
    	<div class="row">
                <div class="col-lg-22">
                    <h1 class="page-header">Settings</h1>
                </div>
                <!-- /.col-lg-22 -->                
    </div>
    
    <div class="row">
        <!--users-->
        <div class="col-lg-22">    
            <div class="col-lg-2">
                <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-user fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="medium">Users</div>
                                        <div>Manage users</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/settings/user">
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <span class="pull-right">Go</span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
            </div>
            <!--groups-->
            <div class="col-lg-2">
                <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="medium">Groups</div>
                                        <div>Manage groups </div>
                                    </div>
                                </div>
                            </div>
                            <a href="/settings/groups">
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <span class="pull-right">Go</span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
            </div>
            <!--Queues-->
            <div class="col-lg-2">
                <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-th fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="medium">Queues</div>
                                        <div>Manage queues</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/settings/queue">
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <span class="pull-right">Go</span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
            </div>
     
            <!--Company-->
            <div class="col-lg-2">
                <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-building fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="medium">Company</div>
                                        <div>Add/Remove companys</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/settings/companies">
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <span class="pull-right">Go</span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
            </div>
            <!--rights-->
            <div class="col-lg-2">
                <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-key fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="medium">Rights</div>
                                        <div>Manage rights/queues</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/settings/rights">
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <span class="pull-right">Go</span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
            </div>
            <!--States-->
            <div class="col-lg-2">
                <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-key fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="medium">States</div>
                                        <div>Manage states for tickets</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/settings/state">
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <span class="pull-right">Go</span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
            </div>

            <!--config-->
            <div class="col-lg-2">
                <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-gear  fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="medium">Config</div>
                                        <div>App config</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/settings/users">
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <span class="pull-right">Go</span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
            </div>
        </div>

    </div>
    

{%endblock%}