{% extends "dashboard/index.html" %}
{% load humanize %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block extend_css%}
  <link href="{% static 'css/tickets-list-custom.css' %}" rel="stylesheet">
{% endblock%}

{% block extend_js%}
  {% include "dashboard/skel_js/pnotify_js" %}
{% endblock%}


{% block content %}
{% load core_settings_data %}

<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Search tickets</h2>
        <ul class="nav navbar-right panel_toolbox">
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <!--Center side: results-->
        <div class="col-md-10 col-sm-12 col-xs-12 form-group">
          <div class="table-responsive">
            <table class="table table-striped jambo_table">
              <thead>
                <tr class="headings">
                  <th class="text-center" style="vertical-align:middle">ID</th>
                  <th class="text-center" style="vertical-align:middle">Subject</th>
                  <th class="text-center" style="vertical-align:middle">State</th>
                  <th class="text-center" style="vertical-align:middle">Queue</th>
                  <th class="text-center" style="vertical-align:middle">Owner</th>
                  <th class="text-center" style="vertical-align:middle" width="150px">Date of cretation</th>
                  <th class="text-center" style="vertical-align:middle">Responsible</th>
                  <th class="text-center" style="vertical-align:middle" width="150px" >Progress % </th>
                  <th class="text-center" style="vertical-align:middle">Priority</th>
                </tr>
              </thead>
              <tbody id="tbodysearch">
                {% for ticket in tickets_filter.qs %}
                <tr class="odd gradeX">
                  <td class="text-center" style="vertical-align:middle"><a href="{% url 'tickets-view' ticket.id %}">{{ticket.id}}</a></td>
                  <td class="text-center" style="vertical-align:middle"><a href="{% url 'tickets-view' ticket.id %}">{{ticket.subject}}</a></td>
                  <td class="text-center" style="vertical-align:middle"><span class="label" style="background-color:#{{ticket.assigned_state.color}}"><font color="black">{{ticket.assigned_state}}</font></span></td>
                  <td class="text-center" style="vertical-align:middle">{% if ticket.assigned_queue %}{{ticket.assigned_queue.shortcode}}{%else%}{%endif%}</td>
                  <td class="text-center" style="vertical-align:middle">{{ticket.create_user}}</td>
                  <td class="text-center" style="vertical-align:middle">{{ticket.date|date:"d/m/y G:i:s"}}</td>
                  <td class="text-center" style="vertical-align:middle">{% if ticket.assigned_user %}{{ticket.assigned_user.first_name}} {{ticket.assigned_user.last_name}}{%endif%}</td>
                  <td class="project_progress">
                    <div class="progress progress_sm" >
                      <div aria-valuenow="{{ticket.percentage}}" style="width: {{ticket.percentage}}%" class="progress-bar
                      {%if ticket.percentage <= 30 and ticket.percentage >= 0 %}  bg-red {%endif%}
                      {%if ticket.percentage <= 60 and ticket.percentage >= 40 %} bg-orange {%endif%}
                      {%if ticket.percentage <= 100 and ticket.percentage >= 70 %} bg-green {%endif%}"
                      role="progressbar" data-transitiongoal="{{ticket.percentage}}">
                      </div>
                    </div>
                    <div class="percentage_range" >
                      <small>{{ticket.percentage}}%</small>
                    </div>
                  </td>
                  <td class="text-center" style="vertical-align:middle">{{ticket.assigned_prio}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% paginate_menu tickets_info.pagination tickest_info.query %}
          </div>
        </div>

        <!--Left side: criteria-->
        <form method="get">
          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Subject </label>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12">
                {% render_field tickets_filter.form.subject class="form-control" placeholder="Subject data" %}
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Body </label>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12">
                {% render_field tickets_filter.form.body class="form-control" placeholder="Body data" %}
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">State </label>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12">
                {% render_field tickets_filter.form.assigned_state class="form-control" %}
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Creator </label>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12">
                {% render_field tickets_filter.form.create_user class="form-control" %}
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Responsible </label>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12">
                {% render_field tickets_filter.form.assigned_user class="form-control" %}
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-group">
              <div class="clearfix"></div>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <button type="submit" id="search-btn" class="btn btn-sm btn-success btn-block" style="margin-top: 15px;" data-url="{% url 'search' %}">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
