<!DOCTYPE html>
<html lang="en">

<head>

  {% load core_settings_data %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{%site_vars as vars %}{{vars.name}}{{vars.version}}</title>

  {% load staticfiles %}

  <link href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

  <!--Custom -->
  <link href="{% static "build/css/custom.css" %}" rel="stylesheet" type="text/css">


</head>

<body class="login">
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form role="form" action="{% url 'login' %}" method="post"> {% csrf_token %}
            <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Ticketator</h1>
            <div>
              <input class="form-control" id="login" placeholder="username" name="username" type="text" autofocus>

            </div>
            <div>
              <input class="form-control" id="password" placeholder="password" name="password" type="password" >              </div>
              {% if form.errors %}
              <p class="error">Sorry, that's not a valid username or password</p>
              {% endif %}
              <div>
                <button type="submit" value="login" class="btn btn-lg btn-success btn-block">Login</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">


                <div class="clearfix"></div>
                <br />

                <div>
                  <p>©2017 All Rights Reserved </p>
                  <p>Varita-Magica property. </p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
  </html>
