{% load staticfiles %}
{% load core_settings_data %}

<div class="col-md-3 left_col ">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <div class="profile">
      <a href="{% url 'home' %}"><img src="{{ logo }}" style="margin-left: 15px; margin-top: 8px; width: 110px; height: 45px;"></a>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="clearfix"></div>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
        <li>
          <a href="{% url 'home' %}"><i class="fa fa-home"></i> Dashoard <span class="fa"></span></a>
        </li>
        <li>
          <a href="{% url 'tickets-create' %}"><i class="fa fa-plus"></i> Add ticket</a>
        </li>
        <li>
          <a href="{% url 'tickets-list' %}"><i class="fa fa-reorder"></i> Tickets <span class="fa"></span></a>
        </li>

        <li>
          <a><i class="fa fa-flag-o fa-fw"></i> States<span class="fa arrow"></span></a>
          <ul class="nav child_menu">
            {% all_states as states %}
            {% for state in states %}
              <li>
                <a href="{% url 'tickets-list-state' state.id %}">{{ state }} tickets</a>
              </li>
            {% endfor %}
          </ul>
        </li>

        <li>
          <a><i class="fa fa-barcode fa-fw"></i> Queues<span class="fa arrow"></span></a>
          <ul class="nav child_menu">
            {% all_queues_for_user perm_level='can_view' as queues %}
            {% for queue in queues %}
              <li>
                <a href="{% url 'tickets-list-queue' queue.id %}">{{ queue.shortcode }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <a href="{% url 'search' %}"><i class="fa fa-search"></i> Search</a>
        </li>
        <li style="opacity:0.2;">
          <a href=""><i class="fa fa-desktop"></i>Inventory</a>
        </li>
        <li>
          <a href="{% url 'calendar' %}"><i class="fa fa-calendar"></i> Calendar</a>
        </li>
        <li>
          <a href="{% url 'tickets-settings' %}"><i class="fa fa-gear fa-fw"></i>Settings</a>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>
