{% extends "dashboard/index.html" %}

{% block extend_css%}
{% load staticfiles %}
<link href="{% static "css/tickets-list-custom.css" %}" rel="stylesheet">

{%endblock%}

{%block content %}

{% load core_settings_data %}

{% block extend_js%}
    <!-- Datatables -->
    <script src="{% static "vendors/datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-buttons/js/buttons.flash.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-buttons/js/buttons.html5.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-buttons/js/buttons.print.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-keytable/js/dataTables.keyTable.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
    <script src="{% static "vendors/datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
    <script src="{% static "vendors/jszip/dist/jszip.min.js" %}"></script>
    <script src="{% static "vendors/pdfmake/build/pdfmake.min.js" %}"></script>
    <script src="{% static "vendors/pdfmake/build/vfs_fonts.js" %}"></script>


    <script type="text/javascript" charset="utf-8">
        //Initial table definition
        $(document).ready(function() {
            var table = $('#dataTables-example').DataTable();
            table.order( [ 0, 'desc' ] ).draw();
        });
    </script>
{%endblock%}
<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">

      <div class="x_title">
        <h2>List of tickets</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <select class="form-control pointer" id="id_status" name="ticket-status" onchange="javascript:location.href = this.value;">
              <option value="/tickets/" {%if not assigned_state%}selected{%endif%} >Open & In progress</option>
              {%for state in states%}
              <option value="/tickets/{{state.id}}" {%if assigned_state == state.id|stringformat:"s"%}selected{%endif%}>{{state.name}}</option>
              {%endfor%}
            </select>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!--{{queues}}-->

      <!-- /.panel-heading -->
      <div class="x_content">
        <div class="table">
          <table class="table table-striped jambo_table dt-responsive nowrap" id="dataTables-example" cellspacing="0" width="100%">
            <thead>
              <tr class="headings">
                <th class="text-center" style="vertical-align:middle">ID</th>
                <th class="text-center" style="vertical-align:middle">Subject</th>
                <th class="text-center" style="vertical-align:middle">State</th>
                <th class="text-center" style="vertical-align:middle">Queue</th>
                <th class="text-center" style="vertical-align:middle">Owner</th>
                <th class="text-center" style="vertical-align:middle">Created</th>
                <th class="text-center" style="vertical-align:middle">Responsible</th>
                <th class="text-center" style="vertical-align:middle; padding-right: 40px;">Progress %</th>
                <th class="text-center" style="vertical-align:middle">Priority</th>
              </tr>
            </thead>
            <tbody>
              {%for line in tickets%}
              <tr class="odd gradeX">
                <td class="text-center" style="vertical-align:middle"><a href="/tickets/view/{{line.id}}">{{line.id}}</a></td>
                <td class="text-center" style="vertical-align:middle"><a href="/tickets/view/{{line.id}}">{{line.subject}}</a></td>
                <td class="text-center" style="vertical-align:middle"><span class="label" style="background-color:#{{line.assigned_state.color}}"><font color="black">{{line.assigned_state}}</font></span></td>
                <td class="text-center" style="vertical-align:middle">{% if line.assigned_queue %}{{line.assigned_queue.shortcode}}{%else%}{%endif%}</td>
                <td class="text-center" style="vertical-align:middle">{{line.create_user}}</td>
                <td class="text-center" style="vertical-align:middle">{{line.created|date:"d/m/y G:i:s"}}</td>
                <td class="text-center" style="vertical-align:middle">{{line.assigned_user}}</td>
                <td class="project_progress">
                  <div class="progress progress_sm" >
                    <div aria-valuenow="{{line.percentage}}" style="width: {{line.percentage}}%" class="progress-bar
                    {%if line.percentage <= 30 and line.percentage >= 0 %}  bg-red {%endif%}
                    {%if line.percentage <= 60 and line.percentage >= 40 %} bg-orange {%endif%}
                    {%if line.percentage <= 100 and line.percentage >= 70 %} bg-green {%endif%}"
                    role="progressbar" data-transitiongoal="{{line.percentage}}">
                  </div>
                </div>
                <div class="percentage_range" >
                  <small>{{line.percentage}}%</small>
                </div>
              </td>
            </td>
            <td class="text-center" style="vertical-align:middle">{{line.assigned_prio}}</td>
            {%endfor%}
          </tbody>
        </table>
        {% paginate_menu tickets_info.pagination tickest_info.query %}
      </div>

    </div>
    <!--</div>-->
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
  <!--</div>-_>
  <!-/.col-lg-12 -->


</div>
</div>


</div>
{%endblock%}
