
{% extends "dashboard/index.html" %}

{%block content %}
    
    <!--<div class="page-title">
              <div class="title_left">
                <h3>List tickets</h3>
              </div>

              <div class="title_right">

              </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
                <div class="col-lg-12">
                    <a href="/tickets/create" class="btn btn-outline btn-primary pull-right"><i class="fa fa-plus" style="margin-right: 10px;"></i>Add ticket</a>
                </div>
    </div>-->
    
{% load core_settings_data %}

    <div class="row">
        
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

                        <!--{% if state_id %}
                            <div class="panel-heading">
                            {% status_name state_id %} tickets
                            </div>
                        {% endif %}-->
                    
                    
                    <div class="x_title">
                    <h2>List tickets</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-wrench"></i></a>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                            <!--{{queues}}-->
                        
                        <!-- /.panel-heading -->
                    <div class="x_content">
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table">
                                    <thead>
                                        <tr class="headings">
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Subject</th>
                                            <th class="text-center">State</th>
                                            <th class="text-center">Queue</th>
                                            <th class="text-center">Owner</th>
                                            <th class="text-center" width="180px">Date</th>
                                            <th class="text-center">Responsible</th>
                                            
                                            <!--<th class="text-center">Company</th>-->
                                            <th class="text-center">Priority</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	{%for line in tickets_info %}
                                    	   <tr class="odd gradeX">
                                    	   <td class="text-center"><a href="/tickets/edit-dev/{{line.id}}">{{line.id}}</a></td>
                                    	   <td class="text-center"><a href="/tickets/edit-dev/{{line.id}}">{{line.subject}}</a></td>
                                           <td class="text-center"><span class="label" style="background-color:#{{line.assigned_state.color}}"><font color="black">{{line.assigned_state}}</font></span></td>

                                           {% if line.assigned_queue %}
                                            <td class="text-center">{{line.assigned_queue}}</td>
                                        {%else%}
                                            <td></td>
                                        {%endif%}
                                    	   <td class="text-center">{{line.create_user}}</td>
                                           <td class="text-center">{{line.date|date:"d/m/y m:h:s"}}</td>
                                    	{% if line.assigned_user %}
                                            <td class="text-center">{{line.assigned_user.first_name}} {{line.assigned_user.last_name}}</td>
                                        {%else%}
                                            <td></td>
                                        {%endif%}
                                        <!--{% if line.assigned_company %}
                                            <td class="text-center">{{line.assigned_company}}</td>
                                        {%else%}
                                            <td></td>
                                        {%endif%}-->
                                        <td class="text-center">{{line.assigned_prio}}</td>
                                    	{%endfor%}
                                        
                                    </tbody>

                                </table>
                            </div>
                          
                     </div>       
                        <!--</div>-->
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                <!--</div>-_>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
{%endblock%}
