{% extends "dashboard/index.html" %}

{% block extend_css%}
  {% load staticfiles %}
{%endblock%}

{% block extend_js%}
    {% load staticfiles %}
{% endblock%}

{%block content %}
  {% load core_settings_data %}

			<div class="row">

			            <div class="col-md-4">
			                <div class="x_panel">
			                  <div class="x_title">
			                    <h2>Open tickets <!--<small>Sessions</small>--></h2>
			                    <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
			                      </li>
			                    </ul>
			                    <div class="clearfix"></div>
			                  </div>
			                  <div class="x_content">
			                    <article class="media event">

			                      <div class="media-body">

			                        {% for t in open_tickets.data %}
			                        <a class="title" href="tickets/edit-dev/{{ t.id }}">#{{ t.id }} - {{ t.date|date:"d/m/y G:i:s" }} - {{ t.subject }}</a>
			                        <p class="content-markdown"> {{t.body | truncatechars:90}}</p>
			                        <hr>
			                        {%endfor%}
			                      </div>
			                    </article>
			                  </div>
			                </div>
			            </div>

						<div class="col-md-4">
			                <div class="x_panel">
			                  <div class="x_title">
			                    <h2>In progress tickets <!--<small>Sessions</small>--></h2>
			                    <ul class="nav navbar-right panel_toolbox">
			                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
			                      </li>
			                    </ul>
			                    <div class="clearfix"></div>
			                  </div>
			                  <div class="x_content">
			                    <article class="media event">

			                      <div class="media-body">
									{% for m in pending_tickets.data %}
			                        <a class="title" href="tickets/edit-dev/{{ t.id }}">#{{ m.id }} - {{ m.date|date:"d/m/y G:i:s" }} - {{ m.subject }}</a>
			                        <p class="content-markdown"> {{m.body}}</p>
			                        <hr>
			                        {%endfor%}
			                      </div>
			                    </article>

			                  </div>
			                </div>
			            </div>
                  <div class="col-md-4">
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>My tickets <!--<small>Sessions</small>--></h2>
                          <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                          <article class="media event">

                            <div class="media-body">

                              {% for t in my_tickets %}
                              <a class="title" href="tickets/edit-dev/{{ t.id }}">#{{ t.id }} - {{ t.date|date:"d/m/y G:i:s" }} - {{ t.subject }}</a>
                              <p class="content-markdown"> {{t.body}}</p>
                              <hr>
                              {%endfor%}

                            </div>
                          </article>

                        </div>
                      </div>
                  </div>

			            {% if rssdata %}

						<div class="col-md-4">
			                <div class="x_panel">
			                  <div class="x_title">
			                    <h2><a class="title pull-center" href="{{rssfeed.url}}" target="_blank">Rss Feed | {{rssfeed.feed.title}}</a></h2>
			                    <ul class="nav navbar-right panel_toolbox">
			                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
			                      </li>
			                      <li class="dropdown">
			                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
			                        <ul class="dropdown-menu" role="menu">
			                          <li><a href="#">Settings 1</a>
			                          </li>
			                          <li><a href="#">Settings 2</a>
			                          </li>
			                        </ul>
			                      </li>
			                      <li><a class="close-link"><i class="fa fa-close"></i></a>
			                      </li>
			                    </ul>
			                    <div class="clearfix"></div>
			                  </div>
			                  <div class="x_content">

			                    <article class="media event">
			                      <div class="media-body">

			                        {% for i in  rssfeed.entries|slice:":5"%}
			                        	<p>

			                        		{% for k in i.links %}<a href="{{k.href}}"" target="_blank"">{%endfor%}{{i.title}}</a>
			                        	</p>
			                        	<p>
			                        	{{i.summary|safe}}
			                        	</p>

			                        	<hr>
			                        {%endfor%}
			                      </div>
			                    </article>


			                  </div>
			                </div>
			            </div>
			            {% endif %}








			</div>

{%endblock%}
