{% extends "dashboard/index.html" %}
{% load staticfiles %}


{% block extend_css%}
    <link href="{% static "css/tickets-list-custom.css" %}" rel="stylesheet">
{%endblock%}

{% block extend_js%}
    {% include "dashboard/skel_js/datatables_js" %}
    <!---Datatables init -->
    <script type="text/javascript" charset="utf-8">
        //Initial table definition
        $(document).ready(function() {
            var table = $('#dataTables-example').DataTable();
            table.order( [ 0, 'desc' ] ).draw();
        });
    </script>
{%endblock%}

{%block content %}
{% load core_settings_data %}

<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">

      <div class="x_title">
        <h2>List of tickets</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <select class="form-control pointer" id="id_status" name="ticket-status" onchange="javascript:location.href = this.value;">
              <option value="{% url 'tickets-list' %}" {% if not assigned_state %}selected{% endif %} >Open & In progress</option>
              {% for state in states %}
              <option value="{% url 'tickets-list-state' state.id %}" {% if assigned_state == state.id|stringformat:"s" %}selected{% endif %}>{{ state.name }}</option>
              {% endfor %}
            </select>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!--{{queues}}-->

      <!-- /.panel-heading -->
      <div class="x_content">
        <div class="table">
          <table class="table table-striped jambo_table dt-responsive nowrap" id="dataTables-example" cellspacing="0" width="100%">
            <thead>
              <tr class="headings">
                <th class="text-center" style="vertical-align:middle">ID</th>
                <th class="text-center" style="vertical-align:middle">Subject</th>
                <th class="text-center" style="vertical-align:middle">State</th>
                <th class="text-center" style="vertical-align:middle">Queue</th>
                <th class="text-center" style="vertical-align:middle">Owner</th>
                <th class="text-center" style="vertical-align:middle">Created</th>
                <th class="text-center" style="vertical-align:middle">Responsible</th>
                <th class="text-center" style="vertical-align:middle; padding-right: 40px;">Progress %</th>
                <th class="text-center" style="vertical-align:middle">Priority</th>
              </tr>
            </thead>
            <tbody>
              {% for ticket in tickets %}
              <tr class="odd gradeX">
                <td class="text-center" style="vertical-align:middle"><a href="{% url 'tickets-view' ticket.id %}">{{ ticket.id }}</a></td>
                <td class="text-center" style="vertical-align:middle"><a href="{% url 'tickets-view' ticket.id %}">{{ ticket.subject }}</a></td>
                <td class="text-center" style="vertical-align:middle"><span class="label" style="background-color:{{ ticket.assigned_state.color }}"><font color="black">{{ ticket.assigned_state }}</font></span></td>
                <td class="text-center" style="vertical-align:middle">{% if ticket.assigned_queue %}{{ ticket.assigned_queue.shortcode }}{% else %}{% endif %}</td>
                <td class="text-center" style="vertical-align:middle">{{ ticket.create_user }}</td>
                <td class="text-center" style="vertical-align:middle">{{ ticket.created|date:"d/m/y G:i:s" }}</td>
                <td class="text-center" style="vertical-align:middle">{{ ticket.assigned_user }}</td>
                <td class="project_progress">
                  <div class="progress progress_sm" >
                    <div aria-valuenow="{{ ticket.percentage }}" style="width: {{ ticket.percentage }}%" class="progress-bar
                    {% if ticket.percentage <= 30 and ticket.percentage >= 0 %}  bg-red {% endif %}
                    {% if ticket.percentage <= 60 and ticket.percentage >= 40 %} bg-orange {% endif %}
                    {% if ticket.percentage <= 100 and ticket.percentage >= 70 %} bg-green {% endif %}"
                    role="progressbar" data-transitiongoal="{{ticket.percentage}}">
                  </div>
                </div>
                <div class="percentage_range" >
                  <small>{{ ticket.percentage }}%</small>
                </div>
              </td>
            </td>
            <td class="text-center" style="vertical-align:middle">{{ ticket.assigned_prio }}</td>
            {% endfor %}
          </tbody>
        </table>
        {% paginate_menu tickets_info.pagination tickest_info.query %}
      </div>

    </div>
    <!--</div>-->
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
  <!--</div>-_>
  <!-/.col-lg-12 -->


</div>
</div>


</div>
{%endblock%}
